.form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.form-location {
    display: grid;
    grid-template-columns: 40% 60%;
    justify-self: start;
    align-self: center; 
}

.form-units {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-self: start;
    align-self: center;
}

label {
    margin-right: 15px;
    font-size: 1.5rem;
}

input{
    font-size: 1.5rem;
    border-radius: 5px;
    border: none;
    background-color: $secondary-color-transparent;
    padding: 5px 15px;
    max-width: 250px;

    &:hover {
        background-color: $secondary-color;
    }

    &::placeholder {
        color: $primary-color;
        max-width: 250px;
    }
}
.radio-input {
    font-weight: 700; 
    font-size: 2rem;
    padding-left: 10px;
}

button {
    font-size: 1.5rem;
    background-color: $secondary-color-transparent;
    color: $secondary-color;
    border-radius: 5px;
    border: none;
    padding: 5px 30px;

    &:hover {
        background-color: $primary-color;
        border: 1px solid $secondary-color;
        color: $secondary-color;
    }

    &:disabled {
        color: $primary-color;

        &:hover {
            background-color: $secondary-color-transparent;
            border: none;
        }
    }
}

@include breakpoint(laptop) {
    .form {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        justify-self: start;
        align-self: center;
    }

    .form-location {
        display: grid;
        grid-template-columns: 1fr;
        justify-self: start;
        align-self: center; 
    }
    
    .form-units {
        display: grid;
        grid-template-columns: 1fr;
        justify-self: start;
        align-self: center;
    }
    
    input {
        max-width: 300px;
    }

    button {
        align-self: end;
    }
}

@include breakpoint(tablet){
    .form {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 10px;
        justify-self: start;
        align-self: center;
        margin-bottom: 20px;
    }

    .form-location {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-self: start;
        align-self: center; 
        width: 100%;
    }
    
    .form-units {
        display: grid;
        grid-template-columns: 1fr 1fr;
        // justify-content: space-evenly;
        justify-self: start;
        align-self: center;
        width: 100%;
    }

    label {
        width: auto;
    }
        
    input {
        max-width: 100%;
    }
    
}

@include breakpoint(mobile) {

    .form {
        grid-template-columns: 1fr;
        margin-bottom: 20px;
        justify-self: center;
    }

    .form-location {
        grid-template-columns: 1fr;
    }

    .form-units {
        grid-template-columns: 1fr;
    }

    input{
        width: auto;
    }

    .label-names {
       display: none;
    }

    button {
        min-width: 300px;
        display: block;
        width: 100%;
    }

    
    
}