.form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.form-location {
    display: grid;
    grid-template-columns: 40% 60%;
    justify-self: start;
    align-self: center; 
}

.form-units {
    display: grid;
    grid-template-columns: 40% 60%;
    justify-self: start;
    align-self: center;
}

label {
    margin-right: 15px;
    font-size: 1.5rem;
}

input{
    font-size: 1.5rem;
    border-radius: 5px;
    border: none;
    background-color: $secondary-color-transparent;
    padding: 5px 15px;
    max-width: 250px;
    margin: 10px 0;

    &:hover {
        background-color: $secondary-color;
    }

    &::placeholder {
        color: $primary-color;
        max-width: 250px;
    }
}

.city-input {
    max-width: 100%;
}

.radio-input {
    font-weight: 700; 
    font-size: 2rem;
    padding-left: 10px;
}

@include breakpoint(laptop) {
    .form {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        justify-self: start;
        align-self: center;
    }
    
    input {
        max-width: 300px;
    }
}

@include breakpoint(tablet){
    .form {
        row-gap: 10px;
        justify-self: start;
        align-self: center;
        margin-bottom: 20px;
    }

    .form-location {
        width: 100%;
    }
    
    .form-units {
        width: 100%;
    }

    label {
        width: auto;
    }
        
    input {
        max-width: 100%;
    }
    
}

@include breakpoint(mobile) {
    .form {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: 15px;
        margin-bottom: 20px;
        justify-self: center;
    }

    .form-location {
        grid-template-columns: 1fr;
        row-gap: 10px;
    }

    .form-units {
        grid-template-columns: 1fr;
        row-gap: 10px;
    }

    .label-names {
       display: none;
    } 
}