@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import "./variables", "./mixins", "./form", "./weather", "./reset.scss";

html {
    height: 100%;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

body {
    min-height: 100%;
    background: $primary-color;
    color: $secondary-color;
}

html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#root {
    font-size: 2rem;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    margin: 0 200px;
    padding-top: 100px;
}

.element-wrap {
    margin: 2rem 2rem 2rem 0;
    padding: 1rem 0;
    text-align: left;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

p {
    margin: 0;
}

hr {
    border: 2px solid $secondary-color-transparent;
    border-radius: 5px;
    width: 100%;
}

@include breakpoint(laptop) {
    .main {
        margin: 0 100px;
        padding-top: 50px;
    }

    .element-wrap {
        margin: 0;
    }

    .grid {
        grid-template-columns: 1fr 1fr;
    }
}


@include breakpoint(tablet) {
    .main {
        margin: 0 30px;
        padding-top: 30px;
    }

    .element-wrap {
        margin: 30px 0 0 0;
        padding: 0;
        text-align: left;
    }

    .grid {
        grid-template-columns: 1fr;
    }

    hr {
        border: 1px solid $secondary-color-transparent;
    }
}

@include breakpoint(mobile) {
    .main {
        margin: 0 20px;
        padding-top: 30px;
    }

    .element-wrap {
        margin: 0;
    }

    .grid {
        grid-template-columns: 1fr;
        column-gap: 0;
    }

    hr {
        display: none;
    }
}