@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');


html, body {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-grow: 1;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    font-size: 16px;
    text-align: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#root {
    background: #415bd0;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    font-size: 2rem;
}